<div class="page-body-wrapper full-page-wrapper auth-page">
  <div class="content-wrapper d-flex align-items-center auth register-bg-1 theme-one">
    <div class="row w-100">
      <div class="col-lg-4 mx-auto">
        <h2 class="text-center mb-4">Register</h2>
        <div class="auto-form-wrapper">
          <form [formGroup]="registerForm" (submit)="onSubmit(registerForm.value)">
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" formControlName="name" name="name" placeholder="Name">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="far fa-user-circle" [ngClass]="{'text-danger': registerForm.controls['name'].invalid && registerForm.controls['name'].touched, 'text-success': registerForm.controls['name'].valid}"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <input type="email" class="form-control" formControlName="email" name="email" placeholder="Email"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fa fa-check-circle" [ngClass]="{'text-danger': registerForm.controls['email'].invalid && registerForm.controls['email'].touched, 'text-success': registerForm.controls['email'].valid}"></i>
                  </span>
                </div>
              </div>
              <small class="form-text text-danger" *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].invalid">Enter
                a valid Email Address</small>
            </div>
            <div class="form-group">
              <div class="input-group">

                <input type="password" class="form-control" formControlName="password" name="password" placeholder="Password">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fa fa-check-circle" [ngClass]="{'text-danger': registerForm.controls['password'].invalid && registerForm.controls['password'].touched, 'text-success': registerForm.controls['password'].valid}"></i>
                  </span>
                </div>
              </div>
              <small class="form-text text-danger" *ngIf="registerForm.controls['password'].touched && registerForm.controls['password'].invalid">Password
                should
                have a
                minimal
                length of 6 characters</small>
            </div>

            <div class="form-group">
              <button *ngIf="!loading" class="btn btn-primary submit-btn btn-block" [disabled]="registerForm.invalid">Create
                Account</button>
              <button *ngIf="loading" class="btn btn-primary submit-btn btn-block" disabled="true"><i class="fas fa-spinner fa-spin"></i>Working
                on it...</button>
            </div>
            <div class="text-block text-center my-3">
              <span class="text-small font-weight-semibold">Got an Account?</span>
              <br>
              <a routerLink="/login" class="text-black text-small">Login</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>