<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add a movement</h4>
        <p class="card-description">
          Please specify the amount and the type of movement
        </p>

        <form [formGroup]="movementForm">

          <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" placeholder="Description" name="description" formControlName="description">
          </div>

          <div class="form-group">
            <label>Amount</label>
            <input type="number" class="form-control" placeholder="600" name="amount" formControlName="amount">
            <small class="form-text text-muted">Remind to type a positive number.</small>

          </div>

          <div class="form-group">
            <label>Entry or Expense?</label>
            <br>
            <button (click)="type = 'expense'" *ngIf="type ==='entry'" type="button" class="btn btn-primary btn-block">Entry</button>
            <button (click)="type = 'entry'" *ngIf="type ==='expense'" type="button" class="btn btn-warning btn-block">Expense</button>
          </div>

          <hr>
          <button *ngIf="!loading" type="button" (click)="onSubmit(movementForm.value)" class="btn btn-success mr-2"
            [disabled]="movementForm.invalid">
            <i class="fa fa-save"></i>
            Add
          </button>
          <button *ngIf="loading" disabled class="btn btn-success mr-2">
            <i class="fa fa-spin fa-sync"></i>
            Saving Changes...
          </button>
          <button type="reset" class="btn btn-light">Cancel</button>
          <button class="btn btn-behance float-right" (click)="return()">Close</button>

        </form>
      </div>
    </div>
  </div>
</div>