<nav class="sidebar sidebar-offcanvas">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">

        <div class="user-wrapper">
          <div class="profile-image">
            <img src="../../../assets/images/faces-clipart/pic-1.png" alt="profile image">
          </div>

          <div class="text-wrapper">
            <p class="profile-name">{{userName}}</p>
            <div>
            </div>
          </div>
        </div>

      </div>
    </li>

    <li class="nav-item">
      <a routerLink="/" class="nav-link">
        <i class="menu-icon fa fa-tachometer-alt"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/movements" class="nav-link">
        <i class="menu-icon fa fa-clipboard-list"></i>
        <span class="menu-title">Entries and Expenses</span>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/detail" class="nav-link">
        <i class="menu-icon fa fa-table"></i>
        <span class="menu-title">Details</span>
      </a>
    </li>

    <li class="nav-item">
      <a (click)="logOut()" class="nav-link cursor">
        <i class="menu-icon fa fa-sign-out-alt"></i>
        <span class="menu-title">Log Out</span>
      </a>
    </li>

  </ul>
</nav>